.container {
    width: 500px;
    height: auto;

    h1, h2 {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    h3 {
        margin-top: 5px;
    }

    .purchase-info {
        display: flex;

        .price {
            font-size: xx-large;
            margin-right: 20px;
        }
    }
}